# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# npm/yarn lock files
*.lock
*-lock.json

# Dependency directories
vendor/

# Project ignores
dist/
node_modules
.idea
*.pem